     html {
       position: relative;
     }

     body {
          position: relative;
          background-color: #FFFFFF;
          margin:0;
          font-family: "Helvetica", "Sans Serif";
          font-size: 14px;
          font-weight: bold;
     }

     h1 {
          position: relative;
          display: inline;
          font-family: "Lucida Grande", "Helvetica", "Sans Serif";
          font-weight: bold;
          font-size: 32px;
          color: #333333;
          padding-left: 20px;
          margin-left: 4em;
         }

     .header {
          position: relative;
          width: 100%;
          background-color: #FFFFFF;
          margin-top: 10px;
          margin-bottom: 11px;
          padding: 0 0 10px 5px;
          border-bottom: 3px solid rgb(34,79,163);
     }

     .contents {
          margin: 10px 10px 5px 75px;
          padding: 0 0 0 25px;
          font-size: 18px;
     }

     .top_msg {
         text-indent: 3em;
         margin: 5px 5px 5px 5px;
     }

     .item {
          font-size: 32px;
          margin: 5px 5px 5px 5px;
     }

     .item a:link { color: #333333; text-decoration: none;}
     
     a:link { color: rgb(34,79,163); text-decoration: none; }
     a:visited { color: rgb(34,79,163); text-decoration: none; }
     a:hover { color: rgb(34,79,163); text-decoration: none; }
     a:active { color: rgb(34,79,163); text-decoration: none; }

     h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	color: #333333;
     }

     .controls {
           float: right;
           margin: -5px 15px 20px 0;
     }

     .controls a {
           color: rgb(34,79,163);
     }

     img {
           vertical-align: middle;
     }

/* smartphone, portrait */
@media screen and (max-width: 479px) {
  /* specific CSS */
     h1 {
          font-size: 32px;
          margin-left:20px;
          padding-left:0;
     }
     .header {
          margin-bottom: 3px;
          padding: 0 0 0px 0px;
     }
     .contents {
          margin: 5px 5px 5px 5px;
          padding: 0 0 0 2px;
          font-size: 12px;
         }
     .controls {
           float: right;
           margin: -12px 15px 20px 0;
     }
     .item {
          font-size: 18px;
          margin: 5px 10px 10px 5px;
    }
     .top_msg {
         text-indent: 1em;
     }
    .logo { display: none; }
}
