     html {
       position: relative;
     }

     body {
          position: relative;
/*        background-color: rgb(223,188,154); */
          background-color: #FFFFFF;
          margin:0;
          font-family: "Handwriting - Dakota", "Gabriola", "Lucida Handwriting", "Monotype Corsiva";
          font-size: 14px;
     }

     h1 {
          position: relative;
          display: inline;
          font-family: "Curlz MT", "Harrington","Apple Chancery", "Party LET", "Snell Roundhand", "Savoye LET", "Nueva Std", Script;
          font-size: 72px;
          color: rgb(255,164,23);
          padding-left: 20px;
/*        color: rgb(34,79,163); */
/*        border-bottom: 3px solid rgb(255,164,23); */
         }

     .header {
          position: relative;
          width: 100%;
          background-color: rgb(107,60,9);
          margin-bottom: 11px;
          padding: 0 0 10px 5px;
          border-bottom: 3px solid rgb(34,79,163);
     }

     .left {
          float: left;
          width: 150px;
          height: 100%;
          clear: right;
          padding: 0 10px 0 15px;
      }

     .contents {
          margin: 10px 10px 10px 75px;
          padding: 0 0 0 25px;
          font-size: 24px;
         }

     .top_msg {
         text-indent: 3em;
     }

     .item {
          font-size: 32px;
          margin: 35px 20px 55px 20px;
    }
     .item a:link { color: 0; text-decoration: none;}
     
     a:link { color: rgb(255,164,23); text-decoration: none; }
     a:visited { color: rgb(255,164,23); text-decoration: none; }
     a:hover { color: rgb(255,164,23); text-decoration: none; }
     a:active { color: rgb(255,164,23); text-decoration: none; }

     .controls {
           float: right;
           margin: 10px 15px 20px 0;
    }
     .controls a {
           color: rgb(34,79,163);
}
        img {
                vertical-align: middle;
        }

